<!--
Copyright (C) 2017 The OmniROM Project

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omnistyle.headers">

    <application
        android:allowBackup="false"
        android:label="Omnistyle Extra Headers">

        <activity
            android:name=".staydirty"
            android:label="#StayDirty" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".colorful"
            android:label="Colorful" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ig_fxckingmind"
            android:label="fxckingdeathwish's mind">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".idk_sumtim"
            android:label="ElDainosor.bmp summertime">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".nataliasolaange"
            android:label="nataliasolaange collection">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".clo_llection"
            android:label="Best of COLOURLovers.com">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".clo_tinted"
            android:label="Best of COLOURLovers.com but Tinted">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".bootleg_style"
            android:label="Bootleggers Styled Headers">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".clo_aestheticwalls_mix"
            android:label="Memesis + pizzheaderz aesthetic - Vaporwave">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".clo_aestheticwalls_sj"
            android:label="Memesis Aesthetic - Sacred Japan">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".purplegorilla"
            android:label="I don't believe we're been properly introduced">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".clo_niceheader"
            android:label="Community nicest header submissions">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".clo_pizzshufied"
            android:label="pizzheaderz shishufied">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".clo_procons"
            android:label="pizzheaderz pro and cons">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".clo_win98"
            android:label="W98">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ig_agusfotos"
            android:label="agus.laz4rte repertoire">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ig_conejocelestial"
            android:label="conejocelestial's insight">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".clo_nice"
            android:label="the nicest header pack">
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
